.shopify-section-group-footer-group{
    margin-inline: 24px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    overflow: hidden;
}
body .shopify-section-group-footer-group .menu__heading{
    padding: 0;
    margin-bottom: 16px;
}
body .shopify-section-group-footer-group .menu__heading .menu__heading__default{
color: rgba(38, 38, 38, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
}