@charset "UTF-8";
body .shopify-section-group-footer-group {
  margin-inline: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  overflow: hidden;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group {
    margin-inline: 10px;
  }
}
body .shopify-section-group-footer-group .menu__heading {
  padding: 0;
  margin-bottom: 16px;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .menu__heading {
    margin-bottom: 0px;
  }
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .menu__heading__accordion {
    color: rgba(38, 38, 38, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }
}
body .shopify-section-group-footer-group .menu__heading__default {
  color: rgba(38, 38, 38, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
body .shopify-section-group-footer-group .menu__item {
  transition: opacity 0.3s ease;
}
body .shopify-section-group-footer-group .menu__item:hover {
  opacity: 0.6;
}
body .shopify-section-group-footer-group .menu__item a {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .menu__details {
    padding: 16px 0;
    border-block-start: 1px solid rgba(38, 38, 38, 0.12);
  }
}
body .shopify-section-group-footer-group .details-content {
  display: flex;
  gap: 4px;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .details-content {
    margin-block-start: 16px !important;
  }
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  body .shopify-section-group-footer-group .logo-block {
    grid-column: span 5;
  }
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .logo-block {
    margin-bottom: 8px;
  }
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .footer-content {
    padding-block: 32px;
    padding-inline: 10px;
    row-gap: 0;
  }
}
body .shopify-section-group-footer-group .logo-block__image-wrapper {
  align-items: flex-start !important;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .logo-block__image-wrapper {
    margin-bottom: 24px !important;
  }
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  body .shopify-section-group-footer-group .footer-content--isolated-grid-item-tablet > :last-child {
    grid-column: unset;
  }
}
body .shopify-section-group-footer-group .footer-bottom {
  border-top: 1px solid rgba(38, 38, 38, 0.12);
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .footer-bottom {
    padding: 8px 10px 32px;
    border: none;
  }
}
body .shopify-section-group-footer-group .footer-bottom-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .footer-bottom-top {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}
body .shopify-section-group-footer-group .footer-bottom-social {
  display: flex;
  gap: 32px;
}
body .shopify-section-group-footer-group .footer-bottom-social a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #262626;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
body .shopify-section-group-footer-group .footer-bottom-social a:hover {
  opacity: 0.6;
}
body .shopify-section-group-footer-group .footer-bottom-social a img {
  width: 24px;
  height: 24px;
}
body .shopify-section-group-footer-group .footer-bottom-legal a {
  transition: opacity 0.3s ease;
  color: rgba(38, 38, 38, 0.5);
  color: #262626;
  opacity: 0.5;
  text-decoration: none;
}
body .shopify-section-group-footer-group .footer-bottom-legal a:hover {
  opacity: 1;
}
@media (max-width: 750px) {
  body .shopify-section-group-footer-group .footer-bottom .menu--accordion:not(:first-child) details {
    border-block-start: 1px solid rgba(38, 38, 38, 0.12);
  }
}

@media (max-width: 750px) {
  h2, .h2 {
    font-size: 30px !important;
    line-height: 110% !important;
  }
}

h3, .h3 {
  font-size: 36px;
}
@media (max-width: 750px) {
  h3, .h3 {
    font-size: 28px !important;
    line-height: 120% !important;
  }
}
h3 p, .h3 p {
  font-size: 36px;
}
@media (max-width: 750px) {
  h3 p, .h3 p {
    font-size: 28px !important;
    line-height: 120% !important;
  }
}

@media (max-width: 750px) {
  h4 {
    font-size: 20px !important;
    line-height: 120% !important;
  }
}

.padding-section, .section-padding {
  padding-block: 40px;
}
@media (max-width: 750px) {
  .padding-section, .section-padding {
    padding-block: 24px;
  }
}

@media (max-width: 999px) {
  .shopify-section-group-header-group:has(.header-top) {
    --padding-block-start: 10px;
    --padding-block-end: 10px;
    font-size: 12px !important;
  }
}
@media (max-width: 750px) {
  .shopify-section-group-header-group:has(.header-top) {
    display: none;
  }
}

.homepage-form {
  background: #fff;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
}
@media (max-width: 750px) {
  .homepage-form {
    border-radius: 0;
    box-shadow: none;
    background: none;
    padding-inline: 24px;
    padding-block: 0;
  }
}

.homepage-acc .accordion {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.homepage-acc accordion-custom {
  border-radius: 16px;
  background: #E8E9E8;
  padding: 24px;
  display: block;
}
@media (max-width: 750px) {
  .homepage-acc accordion-custom {
    border-radius: 12px;
  }
}
.homepage-acc accordion-custom details {
  border-block-start: none !important;
  border-block-end: none !important;
}
.homepage-acc accordion-custom .details__header {
  padding: 0 !important;
  min-height: auto !important;
  gap: 16px;
}
@media (max-width: 750px) {
  .homepage-acc accordion-custom .details__header {
    font-size: 16px;
  }
}
.homepage-acc accordion-custom .details-content {
  padding-block-end: 0 !important;
  padding-block-start: 16px !important;
}
.homepage-acc accordion-custom .details-content p {
  color: rgba(38, 38, 38, 0.8) !important;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
}
@media (max-width: 750px) {
  .subtitle {
    font-size: 16px;
    line-height: 120%;
  }
}

.btn {
  display: inline-flex;
  height: 56px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
}
@media (max-width: 750px) {
  .btn {
    height: 48px;
    padding: 10px 32px;
    border-radius: 32px;
  }
}
.btn--primary {
  background-color: #90F209;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.28px;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.btn--primary:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(128, 255, 0, 0.3);
}
.btn--small {
  padding: 12px 24px;
  height: 48px;
}
.btn--secondary {
  border: 1px solid rgba(38, 38, 38, 0.24);
  color: rgba(38, 38, 38, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.28px;
  text-decoration: none;
  transition: color 0.3s ease, border 0.3s ease;
}
.btn--secondary.active, .btn--secondary:hover {
  color: #262626;
  border: 1px solid #262626;
}
.btn--tertiary {
  background-color: #000;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}
.btn--tertiary:hover {
  background-color: #90F209;
  color: #000;
  box-shadow: 0 8px 20px rgba(128, 255, 0, 0.3);
}

.circle-btn {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #90F209;
  flex-shrink: 0;
  transition: transform 0.4s ease;
}
.circle-btn svg {
  width: 20px;
  height: 20px;
  color: #262626;
}

#form-container-ref {
  display: flex !important;
}

.swiper-main-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.swiper-pagination-lock {
  display: none !important;
}
.swiper-pagination-bullet {
  background: rgba(38, 38, 38, 0.2) !important;
  width: 26px;
  height: 26px;
  border-radius: 8px;
  opacity: 0.2;
  transition: all 0.3s ease;
  margin: 0 !important;
  position: relative;
}
.swiper-pagination-bullet:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background: #262626 !important;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: rgba(144, 242, 9, 0.2) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active:after {
  background: #90F209 !important;
}
.swiper-pagination-dots {
  z-index: 2;
  gap: 8px;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.swiper-pagination-dots .swiper-pagination-bullet {
  width: 48px;
  border-radius: 12px;
  margin: 0;
  background: rgba(144, 242, 9, 0.16) !important;
  opacity: 1 !important;
  height: 6px;
}
.swiper-pagination-dots .swiper-pagination-bullet::after {
  display: none;
}
.swiper-pagination-dots .swiper-pagination-bullet-active {
  background: #90F209 !important;
}
.swiper-btn {
  position: static;
  background-color: #90F209;
  border: none;
  cursor: pointer;
}
.swiper-btn-disabled {
  opacity: 0.5;
  cursor: default;
}

.product-card-bottom {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
.product-card-bottom product-price {
  flex: unset !important;
}
.product-card-bottom product-price .price {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
@media (max-width: 750px) {
  .product-card-bottom product-price .price {
    text-align: left !important;
  }
}
@media (max-width: 750px) {
  .product-card-bottom [ref=priceContainer] {
    text-align: left !important;
  }
}

@media (max-width: 750px) {
  slideshow-slides {
    gap: 24px !important;
    scrollbar-color: #262626 #90F209 !important;
    scrollbar-width: auto;
    scrollbar-gutter: stable;
    scrollbar-track-color: #90F209;
  }
  slideshow-slides::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  slideshow-slides::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
  }
  slideshow-slides::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 10px;
  }
}

.h-featured-mobile {
  display: none;
}
@media (max-width: 750px) {
  .h-featured-mobile {
    display: block;
  }
}

.ui-test-product-list .section-resource-list__header a.button {
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.28px;
}
@media (max-width: 750px) {
  .ui-test-product-list .section-resource-list__header a.button {
    display: none;
  }
}

.page-width-content {
  --page-content-width: 1200px;
}
.page-width-content h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
}
.page-width-content h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}
.page-width-content h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}
.page-width-content p {
  color: #262626;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.header-actions__cta {
  border: 1.5px solid rgba(144, 242, 9, 0.24);
}
.header-actions__cta svg {
  display: none;
}
@media (max-width: 750px) {
  .header-actions__cta svg {
    display: block;
  }
}
@media (max-width: 750px) {
  .header-actions__cta span {
    display: none;
  }
}
@media (max-width: 750px) {
  .header-actions__cta {
    border: none;
    border-radius: 8px;
    background: rgba(144, 242, 9, 0.1);
    padding: 4px;
  }
}

.header__row {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.header__row:has([aria-expanded=true]) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header__columns {
  padding-block: 16px !important;
}
@media (max-width: 750px) {
  .header__columns {
    padding-inline: 16px !important;
    padding-block: 0 !important;
  }
}

.menu-list__link {
  font-size: var(--menu-top-level-font-size-desktop);
}

.overflow-menu::part(list) {
  gap: 40px !important;
}

.overflow-menu::after {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: none !important;
}

.overflow-menu::part(overflow) {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

header-menu .menu-list__link {
  padding-inline: 10px !important;
}

.header__columns:has(.header__column--center header-menu) {
  --header-center:1fr!important;
  --header-left: 200px!important;
  --header-right: 200px!important;
}

html {
  scroll-padding-top: 100px; 
}

/* або */
body {
  scroll-padding-top: 100px;
}

.form-modal {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.16) !important;
  border-radius: 24px !important;
  background: #FFF !important;
  --modal-width: 570px!important;
}
@media (max-width: 750px) {
  .form-modal {
    border-radius: 0 !important;
    --modal-width: 100%!important;
  }
}
.form-modal__wrapper {
  width: 100%;
  padding: 48px;
}
@incldue mobile {
  .form-modal__wrapper {
    width: 100%;
    padding: 32px;
  }
}
.form-modal__product {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.form-modal__product-top {
  font-size: 24px;
  color: #000B02;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.form-modal__product-image {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
}
.form-modal__product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form-modal__product-info {
  display: flex;
  gap: 24px;
  align-items: center;
}
.form-modal__product-info-info-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-modal__product-info-info-text-title {
  font-size: 16px;
  font-weight: 500;
}
.form-modal__form {
  margin-block: 16px !important;
}
.form-modal__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.menu-drawer {
  width: 100% !important;
}
.menu-drawer__list-item--flat {
  margin-block-end: 0 !important;
}
.menu-drawer__menu-item {
  font-size: 20px;
  padding: 10px 0 !important;
}
.menu-drawer__menu-item-text {
  font-size: 20px !important;
}

.menu-drawer__featured-content-list-item--product {
  width: unset !important;
}

.resource-card__media {
  --resource-card-aspect-ratio: 4 / 3!important;
  border-radius: 4px !important;
  overflow: hidden !important;
}

@media (max-width: 999px) {
  .facets-toggle {
    padding: 24px 0 16px !important;
    height: unset !important;
    font-size: 16px !important;
  }
  .facets-toggle svg {
    width: 24px;
    height: 24px;
  }
}

#filters-drawer .facets {
  width: 100% !important;
}

.card-gallery {
  --gallery-aspect-ratio: 4/3!important;
}

.group-block-content div:has(#faq-form) {
  width: 100%;
}

.menu-drawer__bottom{
  padding-inline: 20px;
}
.menu-drawer__bottom-call{
border-radius: 32px;
border: 1.5px solid rgba(144, 242, 9, 0.24);
display: flex;
height: 56px;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
color: #90F209;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
letter-spacing: 0.28px;
width: 100%;

}
.menu-drawer__bottom-links{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 24px 0 32px;
}
.menu-drawer__bottom-links a{
  display: flex;
align-items: center;
gap: 8px;
color: rgba(232, 235, 232, 0.80);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */
}
.menu-drawer__bottom-social{
  display:flex;
  gap: 35px;
  align-items: center;

}
.menu-drawer__bottom-social a{
  color: rgba(232, 235, 232, 0.80);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */
display: flex;
align-items: center;
gap: 8px;
}