@import 'main';

body .shopify-section-group-footer-group  {
    margin-inline: 24px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    overflow: hidden;
    @include mobile{
        margin-inline: 10px;
    }
    .menu__heading{
        padding: 0;
        margin-bottom: 16px;
        @include mobile{
            margin-bottom: 0px;
        }
        &__accordion{
            @include mobile{
                color: rgba(38, 38, 38, 0.50);
                font-size: 14px;
                font-weight: 400;
                line-height: 160%; /* 22.4px */
                letter-spacing: 0.7px;
                text-transform: uppercase;
            }
        }
        

        &__default{
            color: rgba(38, 38, 38, 0.50);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            /* 22.4px */
            letter-spacing: 0.7px;
            text-transform: uppercase;
        }
    }


    .menu__item{
        transition: opacity 0.3s ease;
        &:hover{
            opacity: 0.6;
        }
        a{
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    .menu__details{
        @include mobile{
            padding: 16px 0;
            border-block-start: 1px solid rgba(38, 38, 38, 0.12);
        }
    }
    .details-content{
        display: flex;
        gap: 4px;
        
        @include mobile{
            margin-block-start: 16px!important;
        }
    }

    .logo-block{
        @media screen and (min-width: 750px) and (max-width: 1000px) {
            grid-column: span 5;
        }
        @include mobile{    
            margin-bottom: 8px;
        }
    }

    .footer-content{
        @include mobile{
            padding-block: 32px;
            padding-inline: 10px;
            row-gap: 0;
        }
    }

    .logo-block__image-wrapper{
        align-items: flex-start!important;
        @media screen and (min-width: 750px) and (max-width: 1000px) {
           
        }
        @include mobile{
             margin-bottom: 24px!important;
        }
    }
    .footer-content--isolated-grid-item-tablet > :last-child {
         @media screen and (min-width: 750px) and (max-width: 1000px) {
             grid-column: unset;
        }
       
    }


    .footer-bottom{
        border-top: 1px solid rgba(38, 38, 38, 0.12);
        padding-top: 40px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include mobile{
            padding: 8px 10px 32px;
            border: none;
        }
        &-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            @include mobile{
                flex-direction: column;
                gap: 16px;
                align-items: flex-start;
            }
        }
        &-social{
            display: flex;
            gap: 32px;
            a{
                display: flex;
                align-items: center;
                gap: 8px;
                color: #262626;
                transition: opacity 0.3s ease;
                text-decoration: none;
                &:hover{
                    opacity: 0.6;
                }
                img{
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &-legal{
            a{
                transition: opacity 0.3s ease;
                color: rgba(38, 38, 38, 0.50);
                color: #262626;
                opacity: 0.5;
                text-decoration: none;
                &:hover{
                    opacity: 1;
                }

            }
        }
        .menu--accordion:not(:first-child) details {
            @include mobile{
                border-block-start: 1px solid rgba(38, 38, 38, 0.12);
            }
        } 
    }
}

h2, .h2{
    @include mobile{
        font-size: 30px!important;
        line-height: 110%!important;
    }
}
h3, .h3{
    @include mobile{
        font-size: 28px!important;
        line-height: 120%!important;
    }
    p{
        @include mobile{
            font-size: 28px!important;
            line-height: 120%!important;
        }
    }
}
h4{
    @include mobile{
        font-size: 20px!important;
        line-height: 120%!important;
    }
}

.padding-section, .section-padding{
    padding-block: 40px;
    @include mobile{
        padding-block: 24px;
    }
}

.shopify-section-group-header-group:has(.header-top){
    @include tablet{
        --padding-block-start: 10px;
        --padding-block-end: 10px;
        font-size: 12px!important;
    }
    @include mobile{
       display: none;
    }
}

.homepage-form{
    background: #fff;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
    @include mobile{
        border-radius: 0;
        box-shadow: none;
        background: none;
        padding-inline: 24px;
        padding-block: 0;
    }
}

.homepage-acc{
    .accordion{
        flex-direction: column;
        display: flex;
        gap: 8px;
    }

    accordion-custom{
        border-radius: 16px;
        background: #E8E9E8;
        padding: 24px;
        display: block;
        @include mobile{
            border-radius: 12px;
        }
        details{
            border-block-start: none!important;
        }
        .details__header{
            padding: 0!important;
            min-height: auto!important;
            gap: 16px;
            @include mobile{
                font-size: 16px;
            }
        }
        .details-content{
            padding-block-end: 0!important;
            padding-block-start: 16px!important;
        }
        .details-content p{
            color: #262626CC!important;
        }
    }
}

.subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; /* 24px */
    text-transform: uppercase;
    @include mobile{
        font-size: 16px;
        line-height: 120%;
    }
}

.btn{
    display: inline-flex;
    height: 56px;
    padding: 10px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    @include mobile{
        height: 48px;
        padding: 10px 32px;
        border-radius: 32px;
    }
    &--primary{
        background-color: $c-accent;
        color: $c-main;
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.28px;
        border: none;
        text-decoration: none;
        transition: all 0.3s ease;
        cursor: pointer;
        border: none;
        width: fit-content;
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 8px 20px rgba(128, 255, 0, 0.3);
        }
    }
    &--small{
         padding: 12px 24px;
         height: 48px;
    }

    &--secondary{
        border: 1px solid rgba(38, 38, 38, 0.24);
        color: rgba(38, 38, 38, 0.50);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 19.6px */
        letter-spacing: 0.28px;
        text-decoration: none;
        transition: color 0.3s ease, border 0.3s ease;
        &.active, &:hover{
            color: #262626;
            border: 1px solid #262626;
        }
    }
}




.circle-btn{
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $c-accent;
    flex-shrink: 0;
    transition: transform 0.4s ease;
    
    svg{
        width: 20px;
        height: 20px;
        color: $c-main;
    }
}

#form-container-ref{
    display: flex!important;
}

.swiper{
    
    &-main-pagination{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-top: 20px;
    }
    &-pagination{
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &-lock{
            display: none!important;
        }
        &-bullet{
            background: rgba(38, 38, 38, 0.20)!important;
            width: 26px;
            height: 26px;
            border-radius: 8px;
            opacity: 0.2;
            transition: all 0.3s ease;
            margin: 0!important;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 12px;
                height: 12px;
                background: #262626!important;
                border-radius: 8px;
                transition: all 0.3s ease;
            }
            &-active{
                background: rgba($c-accent, 0.2)!important;
                opacity: 1!important;
                &:after{
                    background: $c-accent!important;
                }
            }

        }
        &-dots{
           z-index: 2;
            gap: 8px;
            z-index: 2;
            display: flex;
            justify-content: center;

            .swiper-pagination-bullet{
                width: 48px;
                border-radius: 12px;
                margin: 0;
                background: rgba(144, 242, 9, 0.16)!important;
                opacity: 1!important;
                height: 6px;
                &::after{
                    display: none;
                }
            }
            .swiper-pagination-bullet-active{
                background: $c-accent!important;
            }
        }
    }

    &-btn{
        position: static;
        background-color: $c-accent;
        border: none;
        cursor: pointer;
        &-disabled{
            opacity: 0.5;
            cursor: default;
        }
    }
}

.product-card-bottom {
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    product-price{
        flex: unset!important;
        .price{
            color: #262626;
            font-size: 16px;
            font-weight: 500;
            line-height: 160%;
            @include mobile{
               text-align: left!important;
            }
        }   
    }
    [ref="priceContainer"]{
        @include mobile{
            text-align: left!important;
        }
    }
}

slideshow-slides {
    @include mobile{
        gap: 24px!important;
        scrollbar-color: $c-main $c-accent!important;
        scrollbar-width: auto;
        scrollbar-gutter: stable;
        scrollbar-track-color: $c-accent;
        &::-webkit-scrollbar {
            width: 20px;
            height: 20px;
        }
        &::-webkit-scrollbar-track {
            background: #000000;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: #262626;
            border-radius: 10px;
        }
    }
}

.h-featured-mobile{
    display: none;
    @include mobile{
        display: block;
    }
}

.ui-test-product-list .section-resource-list__header a.button{
    color: #262626;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.28px;
    @include mobile{
        display: none;
    }
}

.page-width-content{
    --page-content-width: 1200px;
    h2{
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
    }
    h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }
    h4{
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
    }
    p{
        color: #262626;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}

//header

.header-actions__cta{
    border: 1.5px solid rgba(144, 242, 9, 0.24);
    svg{
        display: none;
        @include mobile{
            display: block;
        }
    }
    span{
        @include mobile{
            display: none;
        }

    }
    @include mobile{
        border: none;
        border-radius: 8px;
        background: rgba(144, 242, 9, 0.10);
        padding: 4px;
    }
}


.header__row{
     border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.header__row:has([aria-expanded="true"]){
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.header__columns{
    padding-block: 16px!important;
    @include mobile{
        padding-inline: 16px!important;
        padding-block: 0!important;
    }
}


.menu-list__link{
            font-size: var(--menu-top-level-font-size-desktop);
    
}
.overflow-menu::part(list){
   gap: 40px!important;
}
.overflow-menu::after{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: none!important;
}
.overflow-menu::part(overflow){
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

header-menu .menu-list__link{
    padding-inline: 10px!important;
}
.header__columns {
    &:has(.header__column--center header-menu) {
        --header-center:1fr!important;
        --header-left: 200px!important;
        --header-right: 200px!important;
    }
}

