.shopify-section-group-footer-group {
  margin-inline: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  overflow: hidden;
}

body .shopify-section-group-footer-group .menu__heading {
  padding: 0;
  margin-bottom: 16px;
}

body .shopify-section-group-footer-group .menu__heading .menu__heading__default {
  color: rgba(38, 38, 38, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.logo-block__image-wrapper {
  align-items: flex-start;
}

.shopify-section-group-footer-group .details-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.padding-section, .section-padding {
  padding-block: 40px;
}

.homepage-form {
  background: #fff;
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
}

.homepage-acc .accordion {
  flex-direction: column;
  display: flex;
  gap: 8px;
}
.homepage-acc accordion-custom {
  border-radius: 16px;
  background: #E8E9E8;
  padding: 24px;
  display: block;
}
.homepage-acc accordion-custom details {
  border-block-start: none !important;
}
.homepage-acc accordion-custom .details__header {
  padding: 0 !important;
  min-height: auto !important;
}
.homepage-acc accordion-custom .details-content {
  padding-block-end: 0 !important;
  padding-block-start: 16px !important;
}
.homepage-acc accordion-custom .details-content p {
  color: rgba(38, 38, 38, 0.8) !important;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; /* 24px */
  text-transform: uppercase;
}

.btn {
  display: inline-flex;
  height: 56px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
}
.btn--primary {
  background-color: #90F209;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.28px;
  border: none;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
}
.btn--primary:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(128, 255, 0, 0.3);
}

.circle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #90F209;
  flex-shrink: 0;
  transition: transform 0.4s ease;
}
.circle-btn svg {
  width: 20px;
  height: 20px;
  color: #262626;
}

#form-container-ref {
  display: flex !important;
}

.swiper-main-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.swiper-pagination-bullet {
  background: rgba(38, 38, 38, 0.2) !important;
  width: 26px;
  height: 26px;
  border-radius: 8px;
  opacity: 0.2;
  transition: all 0.3s ease;
  margin: 0 !important;
  position: relative;
}
.swiper-pagination-bullet:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background: #262626 !important;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: rgba(144, 242, 9, 0.2) !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active:after {
  background: #90F209 !important;
}
.swiper-pagination-dots {
  z-index: 2;
  gap: 8px;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.swiper-pagination-dots .swiper-pagination-bullet {
  width: 48px;
  border-radius: 12px;
  margin: 0;
  background: rgba(144, 242, 9, 0.16) !important;
  opacity: 1 !important;
  height: 6px;
}
.swiper-pagination-dots .swiper-pagination-bullet::after {
  display: none;
}
.swiper-pagination-dots .swiper-pagination-bullet-active {
  background: #90F209 !important;
}
.swiper-btn {
  position: static;
  background-color: #90F209;
  border: none;
  cursor: pointer;
}
.swiper-btn-disabled {
  opacity: 0.5;
  cursor: default;
}