@import 'main';
.xc-block {
 
  
    @media (max-width: 768px) {
        padding: 40px 0;
        margin: 40px auto;
        border-radius: 8px;
    }



    &__content {
        border-radius: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 80px;
        align-items: center;
        background: linear-gradient(258deg, #141D16 3.37%, #212923 27.21%, #000B02 101.49%);
        @media (max-width: 968px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        @media (max-width: 968px) {
        gap: 24px;
        }
    }
    &__label {
        color: $c-accent;
    }
    &__heading {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
        color: #F6F6F6;
        strong{
            font-weight: 700;
            color: rgba(246, 246, 246, 0.50);
            
        }
       
    }

    &__description {
        font-size: 18px;
        line-height: 1.6;
        white-space: pre-line;
        color: $c-grey;
        // @media (max-width: 768px) {
        // font-size: 16px;
        // line-height: 1.5;
        // }
    }

//   &__button {
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     padding: 18px 36px;
//     border-radius: 50px;
//     font-size: 18px;
//     font-weight: 600;
//     text-decoration: none;
//     transition: all 0.3s ease;
//     cursor: pointer;
//     border: none;
//     width: fit-content;

//     @media (max-width: 768px) {
//       padding: 16px 32px;
//       font-size: 16px;
//     }

//     &:hover {
//       transform: translateY(-2px);
//       box-shadow: 0 8px 20px rgba(128, 255, 0, 0.3);
//     }

//     &:active {
//       transform: translateY(0);
//     }
//   }
}



