.xc-block__content {
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 80px;
  align-items: center;
  background: linear-gradient(258deg, #141D16 3.37%, #212923 27.21%, #000B02 101.49%);
}
@media (max-width: 999px) {
  .xc-block__content {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
@media (max-width: 750px) {
  .xc-block__content {
    border-radius: 12px;
    padding: 48px 32px;
  }
}
.xc-block__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 750px) {
  .xc-block__left {
    gap: 16px;
  }
}
.xc-block__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.xc-block__label {
  color: #90F209;
}
.xc-block__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: #F6F6F6;
}
@media (max-width: 750px) {
  .xc-block__heading {
    font-size: 28px;
    line-height: 115%;
  }
}
.xc-block__heading strong {
  font-weight: 700;
  color: rgba(246, 246, 246, 0.5);
}
.xc-block__description {
  font-size: 18px;
  line-height: 1.6;
  white-space: pre-line;
  color: rgba(246, 246, 246, 0.8);
}
@media (max-width: 750px) {
  .xc-block__description {
    font-size: 16px;
    line-height: 160%;
  }
}
@media (max-width: 750px) {
  .xc-block__button {
    width: 100%;
  }
}