@import 'main';

.columns{
    padding-bottom: 40px;
    margin-inline: 24px;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 24px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        border-radius: 12px;
        padding: 24px;
        background: #FFF;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
        &:hover{
            svg path{
                fill: $c-main;
            }
        }
        &-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            color: $c-main;
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 0.28px;
            path{
                transition: fill 0.3s ease;
                fill: #26262680;
            }
        }
    }
}