.columns {
  padding-bottom: 40px;
  margin-inline: 24px;
}
@media (max-width: 750px) {
  .columns {
    margin-inline: 16px;
  }
}
.columns__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
@media (max-width: 750px) {
  .columns__wrapper {
    min-height: 153px;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid: auto/auto-flow 212px;
    gap: 16px;
    overflow-x: scroll;
    padding-bottom: 16px;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    scrollbar-color: #262626;
    scrollbar-gutter: 16px;
    scroll-snap-align: start;
  }
}
.columns__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 12px;
  padding: 24px;
  background: #FFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
}
@media (max-width: 750px) {
  .columns__item {
    padding: 16px;
  }
}
.columns__item:hover svg path {
  fill: #262626;
}
.columns__item-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.columns__item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.28px;
}
.columns__item-title path {
  transition: fill 0.3s ease;
  fill: rgba(38, 38, 38, 0.5019607843);
}