.hero {
  --full-page-grid-with-margins: var(--full-page-grid-margin) minmax(0, var(--full-page-grid-central-column-width)) var(--full-page-grid-margin);
  margin-block-end: 24px;
  margin-block-start: -12px
}
@media (max-width: 750px) {
  .hero {
    margin-block-end: 16px;
     margin-block-start: -12px
  }
}
.hero__wrapper {
  border-radius: 0 0 24px 24px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media (max-width: 750px) {
  .hero__wrapper {
    border-radius: 0 0 12px;
  }
}
.hero__slide {
  position: relative;
  min-height: 540px;
  height: auto;
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 750px) {
  .hero__slide {
    min-height: unset;
    justify-content: flex-start;
    padding: 0;
  }
}
.hero__slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 750px) {
  .hero__slide-image {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background: linear-gradient(180deg, rgba(20, 29, 22, 0) 55.21%, #141D16 100%);
    aspect-ratio: 370/210;
  }
}
.hero__slide-content {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  z-index: 2;
}
@media (max-width: 750px) {
  .hero__slide-content {
    align-items: center;
    text-align: center;
    gap: 16px;
    /* max-width: 100%;
    background: #141D16;
    padding: 0 32px 70px 32px;
    align-items: center;
    text-align: center;
    flex: 1; */
  }
}
.hero__slide-title {
  color: #F6F6F6;
  font-size: 28px;
  margin-bottom: 0;
}
.hero__slide-title strong {
  color: rgba(232, 235, 232, 0.5);
}
.hero__slide-text {
  color: rgba(246, 246, 246, 0.8);
  margin: 0;
}
.hero__slide-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
@media (max-width: 750px) {
  .hero__slide-title {
  font-size: 28px;
}
  .hero__slide-buttons {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-top: 0;
    width: 100%;
  }
}
@media (max-width: 750px) {
  .hero__slide-buttons .btn {
    width: 100%;
  }
}
.hero__slide-label {
  border-radius: 32px;
  background: rgba(144, 242, 9, 0.1);
  height: 56px;
  padding: 10px 24px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #90F209;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
@media (max-width: 750px) {
  .hero__slide-label {
    display: none;
    height: auto;
    background: transparent;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
}
.hero__pagination {
  position: absolute;
  bottom: 40px !important;
}
.hero__slide-container{
  z-index: 2;
  
}
@media (max-width: 750px) {
  .hero__slide-container{
   max-width: 100%;
    background: #141D16!important;
    padding: 0 32px 70px 32px;
    align-items: center;
    text-align: center;
    flex: 1;
    --page-margin: 0;
  }

}