.hero {
  margin: 24px;
}
.hero__wrapper {
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.hero__slide {
  position: relative;
  min-height: 540px;
  height: auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero__slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero__slide-content {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  z-index: 2;
}
.hero__slide-title {
  color: #F6F6F6;
  margin-bottom: 0;
}
.hero__slide-title strong {
  color: rgba(232, 235, 232, 0.5);
}
.hero__slide-text {
  color: rgba(246, 246, 246, 0.8);
  margin: 0;
}
.hero__slide-buttons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.hero__slide-label {
  border-radius: 32px;
  background: rgba(144, 242, 9, 0.1);
  height: 56px;
  padding: 10px 24px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #90F209;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
}
.hero__pagination {
  position: absolute;
  bottom: 40px !important;
}