@import 'main';

.hero{
    margin: 24px;
    @include mobile{
        margin: 16px;
    }
    &__wrapper{
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        @include mobile{
            border-radius: 12px;
        }
    }
    &__slide{
        position: relative;
        min-height: 540px;
        height: auto;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @include mobile{
           min-height: unset;
           justify-content: flex-start;
           padding: 0;
        }
        &-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include mobile{
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background: linear-gradient(180deg, rgba(20, 29, 22, 0.00) 55.21%, #141D16 100%);
                aspect-ratio: 370/210;

        }
        }
        &-content{
            max-width: 590px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 24px;
            z-index: 2;
            @include mobile{
                max-width: 100%;
                background: #141D16;
                padding: 0 32px 70px 32px;
                align-items: center;
                text-align: center;
                flex: 1;
            }
        }
        &-title{
            color: $c-light;
            margin-bottom: 0;
            strong{
                color: rgba(232, 235, 232, 0.50);
            }
        }
        

        &-text{
            color: $c-grey;
            margin: 0;
        }
        &-buttons{
            margin-top: 16px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
            @include mobile{
                flex-direction: column;
                justify-content: center;
                
                gap: 12px;
                margin-top: 0;
                width: 100%;
            }
            .btn{
                @include mobile{
                    width: 100%;
                }
            }
        }
        &-label{
            border-radius: 32px;
            background: rgba(144, 242, 9, 0.10);
            height: 56px;
            padding: 10px 24px 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: $c-accent;
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            @include mobile{
                height: auto;
                background: transparent;
                justify-content: center;
                width: 100%;
                padding: 0;
            }
        }
    }
    &__pagination{
        position: absolute;
        bottom: 40px!important;
       
        
    }
}
