@import 'main';

.hero{
    margin: 24px;
    &__wrapper{
        border-radius: 24px;
        overflow: hidden;
        position: relative;
    }
    &__slide{
        position: relative;
        min-height: 540px;
        height: auto;
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &-image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &-content{
            max-width: 590px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 24px;
            z-index: 2;
        }
        &-title{
            color: $c-light;
            margin-bottom: 0;
            strong{
                color: rgba(232, 235, 232, 0.50);
            }
        }

        &-text{
            color: $c-grey;
            margin: 0;
        }
        &-buttons{
            margin-top: 16px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 16px;
        }
        &-label{
            border-radius: 32px;
            background: rgba(144, 242, 9, 0.10);
            height: 56px;
            padding: 10px 24px 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            color: $c-accent;
            font-size: 14px;
            font-weight: 600;
            line-height: 140%;
            
        }
    }
    &__pagination{
        position: absolute;
        bottom: 40px!important;
       
        
    }
}
