.logos__title {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(38, 38, 38, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.logos__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}