.logos__title {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(38, 38, 38, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (max-width: 999px) {
  .logos__title {
    margin-bottom: 24px;
    font-size: 12px !important;
  }
}
@media (max-width: 999px) {
  .logos__item {
    min-height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .logos__item img {
    height: 40px;
    width: auto;
  }
}
.logos__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 999px) {
  .logos__wrapper {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid: auto/auto-flow 100px;
    gap: 48px;
    overflow-x: scroll;
    padding-bottom: 16px;
    scroll-snap-stop: always;
    scroll-snap-type: x mandatory;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    scrollbar-color: #262626;
    scrollbar-gutter: 16px;
    scroll-snap-align: start;
  }
}