@import '_main';
.numbers {
    &-container {
        max-width: 100%;
        overflow: unset;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &-item {
        padding: 0 24px;
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img{
                position: absolute;
                left: 0;
                top: 0;
                width: 118px;
                z-index: -1;
                @include mobile{
                   left: 25%;
                }
            }
        }
        &__number{
            color: #000B02;
            text-align: center;
            font-size: 56px;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -1.12px;
            @include mobile{
                font-size: 40px;
            }
        }
        &__description{
            color: rgba(0, 11, 2, 0.60);
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            line-height: 160%; /* 24px */
            letter-spacing: 0.3px;
            text-transform: uppercase;
            margin-top: 16px;
            margin-bottom: 0;
        }
    }
}