.numbers-container {
  max-width: 100%;
  overflow: unset;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.numbers-item {
  padding: 0 24px;
}
.numbers-item__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.numbers-item__title img {
  position: absolute;
  left: 0;
  top: 0;
  width: 118px;
  z-index: -1;
}
@media (max-width: 750px) {
  .numbers-item__title img {
    left: 25%;
  }
}
.numbers-item__number {
  color: #000B02;
  text-align: center;
  font-size: 56px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.12px;
}
@media (max-width: 750px) {
  .numbers-item__number {
    font-size: 40px;
  }
}
.numbers-item__description {
  color: rgba(0, 11, 2, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%; /* 24px */
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 0;
}