.xc-product .product-information--media-left {
  grid-template-columns: 1fr 1fr !important;
}
@media (max-width: 999px) {
  .xc-product .product-information--media-left {
    grid-template-columns: subgrid !important;
    grid-column: 2;
    gap: 32px;
  }
}
.xc-product .product-information__media {
  padding-right: 0 !important;
}
@media (max-width: 999px) {
  .xc-product .product-information__media {
    border-radius: 12px;
    overflow: hidden;
  }
}
.xc-product .product-information__media slideshow-arrows {
  mix-blend-mode: unset;
}
.xc-product .product-information__media slideshow-slides {
  scrollbar-color: transparent transparent !important;
}
.xc-product .product-information__media slideshow-slides::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
.xc-product .product-information__media slideshow-slides::-webkit-scrollbar-track {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  background: transparent;
}
.xc-product .product-information__media slideshow-slides::-webkit-scrollbar-thumb {
  display: none !important;
}
@media (max-width: 999px) {
  .xc-product .product-information__media slideshow-controls {
    display: flex !important;
  }
}
.xc-product .product-information__media .slideshow-control--large {
  border: none;
  height: unset;
  max-height: unset;
  aspect-ratio: 1 !important;
}
.xc-product .product-information__media .slideshow-control .svg-wrapper {
  color: #262626;
  width: 48px;
  padding: 12px;
  height: 48px;
  border-radius: 50%;
  background: #90F209;
}
@media (max-width: 999px) {
  .xc-product .product-information__media .slideshow-control .svg-wrapper {
    width: 32px;
    height: 32px;
    padding: 6px;
  }
}
@media screen and (max-width: 749px) {
  .xc-product .product-information__media .media-gallery--hint :not(.dialog-zoomed-gallery) > .product-media-container:not(:only-child) {
    width: 100%;
  }
}
.xc-product .product-media img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  aspect-ratio: 4/3 !important;
  border-radius: 12px !important;
}
.xc-product .product-details {
  padding-inline-start: 48px !important;
}
@media (max-width: 999px) {
  .xc-product .product-details {
    padding-inline-start: 0 !important;
  }
}
.xc-product .slideshow-control {
  --thumbnail-width:96px!important;
  aspect-ratio: 4/3 !important;
  border: 1px solid transparent;
}
@media (max-width: 999px) {
  .xc-product .slideshow-control {
    border-radius: 4px !important;
  }
  .xc-product .slideshow-control img {
    border-radius: 4px !important;
  }
}
.xc-product .slideshow-control:is([aria-selected=true]) {
  border: 1px solid #000 !important;
  outline: none;
}
.xc-product .slideshow-controls__thumbnails {
  padding-inline: 5px !important;
  margin-inline: 0;
}
@media (max-width: 999px) {
  .xc-product .slideshow-controls__thumbnails {
    padding-inline: 0px !important;
    padding-block: 5px !important;
    gap: 4px !important;
  }
}
.xc-product .dialog-thumbnails-list__thumbnail {
  aspect-ratio: 4/3 !important;
}
.xc-product__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.xc-product__info-title {
  color: #262626;
  margin-bottom: 0;
}
@media (max-width: 999px) {
  .xc-product__info-title {
    font-size: 28px;
  }
}
.xc-product__info-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.xc-product__info-price-box {
  color: #262626;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
}
.xc-product__info-price-vin {
  color: rgba(38, 38, 38, 0.5);
  font-size: 16px;
  text-transform: uppercase;
}
.xc-product__info-price-vin span {
  color: #262626;
}
.xc-product__info hr {
  margin: 0;
  background-color: #D9D9D9;
  opacity: 0.4;
}
.xc-product__info .pc__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
  opacity: 0.5;
}
.xc-product__info .pc__info-item {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 999px) {
  .xc-product__info .pc__info-item {
    font-size: 14px;
  }
}
.xc-product__info-description {
  color: rgba(38, 38, 38, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
.xc-product__info-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}
@media (max-width: 750px) {
  .xc-product__info-buttons {
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .xc-product__info-buttons .btn {
    width: 100%;
  }
}
/* .xc-product__info-buttons a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  border-radius: 32px;
  background: rgba(179, 249, 41, 0.1);
  padding: 10px 24px;
}
@media (max-width: 750px) {
  .xc-product__info-buttons a {
    width: 100%;
    background-color: transparent;
    justify-content: center;
    padding: 0;
  }
} */

.xc-product .product-media {
  aspect-ratio: 4/3 !important;
}