@import '_main';

.page-head{
    &__wrapper{
        margin-block: 24px;
        overflow: hidden;
        border-radius: 24px;
        position: relative;
        padding-inline: 80px;
        padding-block: 64px;
        @include mobile{
            padding-block: 16px;
            padding: 32px;
            border-radius: 12px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(258deg, #141D16 3.37%, #212923 27.21%, #000B02 101.49%);
        }
        &--image{
            padding-block: 80px;
            @include mobile{
                padding-block: 48px;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
            }
        }
    }
    &__content{
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__title{
        color: $c-light!important;
        margin: 0!important;
    }
    &__description{
        color: $c-light!important;
        font-size: 16px;
        line-height: 160%;
        font-weight: 400;
        opacity: 0.8;
        @include mobile{
            font-size: 12px;
        }
    }
    &__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}