.page-head__wrapper {
  margin-block: 24px;
  overflow: hidden;
  border-radius: 24px;
  position: relative;
  padding-inline: 80px;
  padding-block: 64px;
}
@media (max-width: 750px) {
  .page-head__wrapper {
    padding-block: 16px;
    padding: 32px;
    border-radius: 12px;
  }
}
.page-head__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(258deg, #141D16 3.37%, #212923 27.21%, #000B02 101.49%);
}
.page-head__wrapper--image {
  padding-block: 80px;
}
@media (max-width: 750px) {
  .page-head__wrapper--image {
    padding-block: 48px;
  }
}
.page-head__wrapper--image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.page-head__content {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.page-head__title {
  color: #F6F6F6 !important;
  margin: 0 !important;
}
.page-head__description {
  color: #F6F6F6 !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  opacity: 0.8;
}
@media (max-width: 750px) {
  .page-head__description {
    font-size: 12px;
  }
}
.page-head__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}