.product-grid {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1280px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 750px) {
  .product-grid-container {
    padding-inline: 16px;
  }
}

@media screen and (min-width: 750px) {
  .collection-wrapper {
    grid-template-columns: 220px 1fr !important;
  }
}

@media screen and (min-width: 750px) {
  .facets-block-wrapper--vertical {
    grid-column: 1 !important;
  }
}

@media screen and (min-width: 750px) {
  .facets.facets-controls-wrapper {
    grid-column: 1/column-12;
  }
}

.facets-collection {
  display: flex;
  align-items: center;
  gap: 16px;
  grid-column: 1/12;
}

@media screen and (min-width: 750px) {
  .collection-wrapper:has(.facets--vertical) .facets-block-wrapper--vertical:not(.hidden) ~ .main-collection-grid {
    grid-column: 2/column-12;
  }
}

.facets--filters-title {
  color: #262626;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}

.price-facet__highest-price {
  display: none;
}

.pc {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 750px) {
  .pc {
    flex-direction: column;
  }
}
.pc__image {
  aspect-ratio: 4/3;
}
@media (max-width: 1440px) {
  .pc__image {
    aspect-ratio: unset;
  }
}
.pc__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pc__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}
@media (max-width: 750px) {
  .pc__content {
    padding: 24px;
  }
}
.pc__title h4 {
  margin-bottom: 0;
  color: #262626;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
}
.pc__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 10px;
  opacity: 0.5;
}
.pc__info-item {
  font-size: 13px;
  font-weight: 500;
  display: flex;
  gap: 4px;
  align-items: center;
}
.pc__price {
  color: #262626;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
}
.pc__price-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 750px) {
  .pc__price-container {
    margin-top: 8px;
  }
}