.quote-content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.quote-content__author {
  color: #000B02;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 4px;
}
.quote-content__author-position {
  color: rgba(0, 11, 2, 0.6);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin: 0;
}
.quote-content__text {
  color: rgba(0, 11, 2, 0.6);
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-top: 24px;
}
@media (max-width: 750px) {
  .quote-content__text {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
.quote-content__text strong {
  color: #000B02;
}
.quote-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
  justify-self: center;
}
.quote-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}