@import '_main';
.quote{
    &-content{
        max-width: 960px;
        margin: 0 auto;
        text-align: center;
        &__author{
            color: #000B02;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            line-height: 160%;
            margin-bottom: 4px;
            &-position{
                color: rgba(0, 11, 2, 0.60);
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                line-height: 160%; /* 19.2px */
                letter-spacing: 1.2px;
                text-transform: uppercase;
                margin: 0;
            }
        }
        &__text{
            color: rgba(0, 11, 2, 0.60);
            font-size: 24px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            margin-top: 24px;
            @include mobile{
                font-size: 20px;
                letter-spacing: 1px;
            }
            strong{
                color: #000B02;
            }
        }
    }
    &-image{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 8px;
        justify-self: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    
        
}