.reviews-swiper {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.reviews__content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 40px;
}
@media (max-width: 999px) {
  .reviews__content {
    grid-template-columns: minmax(0, 1fr);
    gap: 24px;
  }
}
.reviews__right {
  border-radius: 24px;
  background-color: #E8EBE8;
  overflow: hidden;
  padding: 80px;
}
@media (max-width: 999px) {
  .reviews__right {
    order: -1;
    padding: 48px 32px;
  }
}
.reviews__title {
  margin-bottom: 24px;
}
@media (max-width: 999px) {
  .reviews__title {
    margin-bottom: 16px;
  }
}
.reviews__description {
  margin-bottom: 40px;
  color: rgba(38, 38, 38, 0.8);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 999px) {
  .reviews__description {
    margin-bottom: 32px;
  }
}
.reviews__item {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  overflow: hidden;
}
@media (max-width: 999px) {
  .reviews__item {
    border-radius: 12px;
  }
}
.reviews__item-info {
  padding: 24px 32px;
  display: grid;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 8px;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 30px 1fr;
  align-items: center;
  background: #fff;
}
@media (max-width: 999px) {
  .reviews__item-info {
    grid-template-columns: 48px 1fr;
    grid-template-rows: 50px 1fr;
    padding: 24px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.reviews__item-avatar {
  grid-row: span 2;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__item-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 999px) {
  .reviews__item-avatar {
    grid-row: 1;
    grid-column: 1;
    width: 48px;
    height: 48px;
  }
}
.reviews__item-top {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
@media (max-width: 999px) {
  .reviews__item-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    grid-column: 2;
    grid-row: 1;
  }
}
.reviews__item-name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.reviews__item-name img {
  width: 18px;
  height: 18px;
}
.reviews__item-name span {
  color: #000B02;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}
.reviews__item-rating {
  display: flex;
  align-items: center;
}
.reviews__item-image-img{
  aspect-ratio: 4/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 999px) {
  .reviews__item-bottom {
    grid-column: span 2;
    grid-row: 2;
  }
}
@media (max-width: 999px) {
  .reviews__button {
    width: 100%;
  }
}