@import 'main';

.slider-info {
    &-swiper{
        min-height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }
    &__content{
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 40px;
    }
    &__right{
        border-radius: 24px;
        background: linear-gradient(258deg, #141D16 3.37%, #212923 27.21%, #000B02 101.49%);
        overflow: hidden;
        padding: 80px;
    }
    &__title{
        margin-bottom: 24px!important;
         font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
        color: #F6F6F6!important;
        strong{
            font-weight: 700;
            color: rgba(246, 246, 246, 0.50)!important;
            
        }
    }
    &__description{
        margin-bottom: 40px;
        color: $c-grey;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
    }
    &__item{
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
        border-radius: 24px;
        overflow: hidden;
        &-info{
            padding: 24px 32px;
          
           
        }
        &-image{
            aspect-ratio: 636/252;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}