@import 'main';

.xc-service{
   
    &__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        h2{
            color: rgba(38, 38, 38, 0.50);
            margin-bottom: 0;
        }

        @include mobile{
           
        }
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 24px;
        min-height: 400px;
        

       @include mobile {
            min-height: 188px;
            grid-template-columns: unset;
            grid-template-rows: unset;
            grid:  auto / auto-flow 310px;
            gap: 16px;
            overflow-x: scroll;
            padding-bottom: 16px;
            scroll-snap-stop: always;
            scroll-snap-type: x mandatory;
            user-select: none;
            scrollbar-color: $c-main;
            // scrollbar-width: 6px;
            scrollbar-gutter: 16px;
            scroll-snap-align: start;
            
           
        }
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        
        
    }
    
    
    &__item{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 16px;
        overflow: hidden;
        min-height: 180px;
        text-decoration: none;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(38, 38, 38, 0.40) 0%, rgba(38, 38, 38, 0.40) 100%);
        }



       @include mobile {
            min-height: 240px;
        }

        &:hover{
            
            .xc-service__item-image{
                transform: scale(1.05);
            }

            .circle-btn{
                transform: scale(1.1);
            }
        }
        
        // Large block on the left - spans 2 columns and 2 rows
        &:nth-child(1){
           grid-column: 1 / 3;
           grid-row: 1 / 3;
           
           
          @include mobile {
               grid-column: 1;
               grid-row: auto;
           }
           @include mobile{
            grid-column: unset;
            grid-row: auto;
           }
        }
        
        // Top-left small block
        &:nth-child(2){
            grid-column: 3 / 4;
            grid-row: 1 / 2;

           @include mobile {
                grid-column: 1;
                grid-row: auto;
            }
            @include mobile{
                grid-column: unset;
                grid-row: auto;
            }
        }
        
        // Top-right small block
        &:nth-child(3){
            grid-column: 4 / 5;
            grid-row: 1 / 2;

           @include mobile {
                grid-column: 1;
                grid-row: auto;
            }
            @include mobile{
                grid-column: unset;
                grid-row: auto;
            }
        }
        
        // Bottom-left small block
        &:nth-child(4){
            grid-column: 3 / 4;
            grid-row: 2 / 3;

           @include mobile {
                grid-column: 1;
                grid-row: auto;
            }
            @include mobile{
                grid-column: unset;
                grid-row: auto;
            }
        }
        
        // Bottom-right small block
        &:nth-child(5){
            grid-column: 4 / 5;
            grid-row: 2 / 3;

           @include mobile {
                grid-column: 1;
                grid-row: auto;
            }
            @include mobile{
                grid-column: unset;
                grid-row: auto;
            }
        }
        @include mobile{
            min-height: 188px;
            max-height: 188px;
        }
    }
    
    &__item-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        transition: transform 0.5s ease;
    }
    
    &__info{
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
    }
    
    &__item-title{
        color: $c-light;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        @include mobile{
            font-size: 18px;
        }
    }
    .circle-btn{
        @include mobile{
            width: 32px;
            height: 32px;
        }
    }

}