.xc-service__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.xc-service__content h2 {
  color: rgba(38, 38, 38, 0.5);
  margin-bottom: 0;
}
.xc-service__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  min-height: 400px;
}
@media (max-width: 968px) {
  .xc-service__list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: auto;
  }
}
.xc-service__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 16px;
  overflow: hidden;
  min-height: 180px;
  text-decoration: none;
  background: linear-gradient(0deg, rgba(38, 38, 38, 0.4) 0%, rgba(38, 38, 38, 0.4) 100%);
}
@media (max-width: 968px) {
  .xc-service__item {
    min-height: 240px;
  }
}
.xc-service__item:hover .xc-service__item-image {
  transform: scale(1.05);
}
.xc-service__item:hover .circle-btn {
  transform: scale(1.1);
}
.xc-service__item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
@media (max-width: 968px) {
  .xc-service__item:nth-child(1) {
    grid-column: 1;
    grid-row: auto;
  }
}
.xc-service__item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
@media (max-width: 968px) {
  .xc-service__item:nth-child(2) {
    grid-column: 1;
    grid-row: auto;
  }
}
.xc-service__item:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1/2;
}
@media (max-width: 968px) {
  .xc-service__item:nth-child(3) {
    grid-column: 1;
    grid-row: auto;
  }
}
.xc-service__item:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media (max-width: 968px) {
  .xc-service__item:nth-child(4) {
    grid-column: 1;
    grid-row: auto;
  }
}
.xc-service__item:nth-child(5) {
  grid-column: 4/5;
  grid-row: 2/3;
}
@media (max-width: 968px) {
  .xc-service__item:nth-child(5) {
    grid-column: 1;
    grid-row: auto;
  }
}
.xc-service__item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  transition: transform 0.5s ease;
}
.xc-service__info {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.xc-service__item-title {
  color: #F6F6F6;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}